<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
	<mdl-layout-header>
		<mdl-layout-header-row>
			<mdl-layout-title>Title</mdl-layout-title>
			<mdl-layout-spacer></mdl-layout-spacer>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link">Link</a>
			</nav>
		</mdl-layout-header-row>
	</mdl-layout-header>
	<mdl-layout-drawer>
		<mdl-layout-title>Title</mdl-layout-title>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link">Link</a>
		</nav>
	</mdl-layout-drawer>
	<mdl-layout-content class="demo-content">
		<h1>
			{{title}}
		</h1>
		<button mdl-ripple (click)="click($event)" id="button" mdl-button mdl-button-type="raised" mdl-colored="accent" >doubleclickme</button>
		<div id="square" [hidden]="!isShown"></div>
		<div *ngFor="let content of subjectContents">{{content}}</div>
	</mdl-layout-content>
</mdl-layout>
