<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
	<mdl-layout-header>
		<mdl-layout-header-row>
			<mdl-layout-title>{{title}}</mdl-layout-title>
			<mdl-layout-spacer></mdl-layout-spacer>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="https://github.com/Mellbourn/observable-exercise">github repo</a>
			</nav>
		</mdl-layout-header-row>
	</mdl-layout-header>
	<mdl-layout-drawer>
		<mdl-layout-title>{{title}}</mdl-layout-title>
		<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="https://github.com/Mellbourn/observable-exercise">github repo</a>
		</nav>
	</mdl-layout-drawer>
	<mdl-layout-content class="demo-content">
		<button mdl-ripple (click)="click($event)" id="button" mdl-button mdl-button-type="raised" mdl-colored="accent">doubleclickme</button>
		<p>
      <mdl-icon mdl-badge="{{numberOfDoubleClicks}}" mdl-badge-overlap>account_box</mdl-icon>
			<mdl-checkbox [ngModel]="isShown"></mdl-checkbox>
		</p>
		<p>
			<span class="mdl-chip" *ngFor="let event of events">
      <span class="mdl-chip__text">event</span>
			</span>
		</p>
		<p>
			<span class="mdl-chip" *ngFor="let content of subjectContents">
      <span class="mdl-chip__text">{{content}}</span>
			</span>
		</p>
	</mdl-layout-content>
</mdl-layout>
